html,
body {
  height: 100%;
}
body {
  padding-top: 65px;
}
#wrap {
  min-height: 100%;
  padding-bottom: 60px;
  position: relative;
}
.panel-heading,
.panel-heading a {
  color: #fff;
}
.timeline {
  list-style: none;
  margin: 0;
  padding: 20px 0;
}
.timeline .label {
  padding: .3em .6em;
}
.timeline-badge {
  display: none;
}
.arrow {
  display: none;
}
.container .text-muted {
  margin: 20px 0;
}
.navbar-fixed-bottom li {
  display: inline-block;
}
.navbar-fixed-bottom li a {
  display: inline-block;
  height: 40px;
  margin-top: 14px;
  width: 40px;
}
.navbar-fixed-bottom li img,
.navbar-fixed-bottom li svg {
  border-radius: 16px;
}
.navbar-fixed-bottom li img:hover,
.navbar-fixed-bottom li svg:hover {
  box-shadow: 0 0 4px #fff;
}
.navbar-fixed-bottom ul {
  list-style: none;
  margin-bottom: 0;
}
.education .arrow {
  border-color: #5bc0de;
}
.education .label {
  background-color: #2390b0;
}
.education .panel {
  border-color: #5bc0de;
  box-shadow: 1px 1px 3px #daf1f8;
}
.education .panel-heading {
  background-color: #5bc0de;
}
.education .timeline-badge {
  background-color: #5bc0de;
}
.experience .arrow {
  border-color: #428bca;
}
.experience .label {
  background-color: #245682;
}
.experience .panel {
  border-color: #428bca;
  box-shadow: 1px 1px 3px #b9d4ec;
}
.experience .timeline-badge {
  background-color: #428bca;
}
.location .arrow {
  border-color: #f0ad4e;
}
.location .label {
  background-color: #c77c11;
}
.location .panel {
  border-color: #f0ad4e;
  box-shadow: 1px 1px 3px #fceedb;
}
.location .panel-heading {
  background-color: #f0ad4e;
}
.location .timeline-badge {
  background-color: #f0ad4e;
}
@media (max-width: 767px) {
  .container .text-muted {
    font-size: 11px;
  }
  .navbar-fixed-bottom li a {
    margin-top: 11px;
  }
}
@media (min-width: 768px) {
  .panel .arrow {
    border-width: 11px;
    display: block;
  }
  .panel .arrow,
  .panel .arrow:after {
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-style: solid;
    display: block;
    height: 0;
    position: absolute;
    width: 0;
  }
  .timeline {
    position: relative;
  }
  .timeline:before {
    border: 2px solid #eee;
    border-radius: 2px;
    bottom: 0;
    content: " ";
    left: 50%;
    margin-left: -2px;
    position: absolute;
    top: 0;
    width: 4px;
  }
  .timeline > li:before {
    clear: both;
    content: " ";
    display: table;
  }
  .timeline > li:after {
    clear: both;
    content: " ";
    display: table;
  }
  .timeline > li:nth-child(odd) .panel {
    float: left;
    position: relative;
  }
  .timeline > li:nth-child(odd) .panel .arrow {
    border-right-width: 0;
    margin-top: -11px;
    right: -11px;
    top: 20px;
  }
  .timeline > li:nth-child(even) .panel {
    float: right;
    position: relative;
  }
  .timeline > li:nth-child(even) .panel .arrow {
    border-left-width: 0;
    left: -11px;
    margin-top: -11px;
    top: 20px;
  }
  .timeline .panel {
    width: 47%;
  }
  .timeline-badge {
    background: #444;
    border-radius: 16px;
    color: #fff;
    display: block;
    height: 32px;
    left: 50%;
    line-height: 32px;
    margin-left: -16px;
    margin-top: 5px;
    position: absolute;
    text-align: center;
    width: 32px;
  }
}
