<h2 id="activities-honors">Activities/Honors</h2>

<ul class="lead">
  <li>
    Microsoft's 2012 World Imagine Cup Competition
    <ul>
      <li>Game Design (Windows Phone) - Semifinalist</li>
    </ul>
  </li>
  <li>
    Microsoft's 2012 U.S. Imagine Cup Competition
    <ul>
      <li>Game Design (Windows Phone) - Finalist</li>
    </ul>
  </li>
  <li>
    Microsoft's 2011 U.S. Imagine Cup Competition
    <ul>
      <li>Game Design (Windows Phone) - Finalist (3rd Place)</li>
      <li>Software Design Track - Honorable Mention</li>
    </ul>
  </li>
  <li><a href="http://louisville.edu/stu-aff/services/admissions/aid/trustees.html" target="_blank">University of Louisville Trustees Scholarship</a></li>
  <li><a href="http://www.cflouisville.org/whatsnew/apply-vogt-achievement-scholarship" target="_blank">Vogt Achievement Scholarship</a></li>
  <li>Volunteer at <a href="http://www.codepalousa.com/" target="_blank">Code PaLOUsa</a> Developer Conference 2011</li>
</ul>