<h2 id="activities-honors">Activities/Honors</h2>

<ul class="lead">
  <li>
    Microsoft's 2012 World Imagine Cup Competition
    <ul>
      <li>Game Design (Windows Phone) - Semifinalist</li>
    </ul>
  </li>
  <li>
    Microsoft's 2012 U.S. Imagine Cup Competition
    <ul>
      <li>Game Design (Windows Phone) - Finalist</li>
    </ul>
  </li>
  <li>
    Microsoft's 2011 U.S. Imagine Cup Competition
    <ul>
      <li>Game Design (Windows Phone) - Finalist (3rd Place)</li>
      <li>Software Design Track - Honorable Mention</li>
    </ul>
  </li>
  <li>University of Louisville Trustee's Scholarship</li>
  <li>Vogt Achievement Scholarship</li>
  <li>Volunteer at Code PaLOUsa Developer Conference 2011</li>
</ul>