<h2 id="timeline">Timeline</h2>

<ol class="timeline">

  <li class="experience">
    <div class="timeline-badge">
      <span class="glyphicon glyphicon-briefcase"></span>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <strong><a href="http://www.cyaninc.com/" target="_blank">Cyan, Inc.</a></strong> <span class="label">Dec 2013 - Present</span>
      </div>
      <div class="popover-content">
        <strong>Software Engineer</strong>
      </div>
    </div>
  </li>

  <li class="location">
    <div class="timeline-badge">
      <span class="glyphicon glyphicon-home"></span>
    </div>
    <div class="panel panel-warning">
      <div class="panel-heading">
        <strong>Relocate</strong> <span class="label">Nov 2013 - Present</span>
      </div>
      <div class="popover-content">
        <strong>Petaluma, California</strong>
      </div>
    </div>
  </li>

  <li class="experience">
    <div class="timeline-badge">
      <span class="glyphicon glyphicon-briefcase"></span>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <strong><a href="http://www.randstadusa.com/" target="_blank">Randstad Technologies US</a></strong> <span class="label">Aug 2013 - Nov 2013</span>
      </div>
      <div class="popover-content">
        <strong>Contractor/Consultant</strong>
        <ul>
          <li>SharePoint 2013 development for <a href="http://www.cokecce.com/" target="_blank">Coca-Cola Enterprises</a>.</li>
        </ul>
      </div>
    </div>
  </li>

  <li class="experience">
    <div class="timeline-badge">
      <span class="glyphicon glyphicon-briefcase"></span>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <strong><a href="http://controltouch.com/" target="_blank">ControlTouch Systems, Inc.</a></strong> <span class="label">May 2013 - Aug 2013</span>
      </div>
      <div class="popover-content">
        <strong>Controls Engineer</strong>
        <ul>
          <li>Develop HMI screens for conveyor systems</li>
          <li>Develop internal tools using C#, ASP.NET, Objective-C, as well as other languages.</li>
          <li>Develop web based user management system</li>
        </ul>
      </div>
    </div>
  </li>

  <li class="experience">
    <div class="timeline-badge">
      <span class="glyphicon glyphicon-briefcase"></span>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <strong><a href="http://controltouch.com/" target="_blank">ControlTouch Systems, Inc.</a></strong> <span class="label">May 2011 - May 2013</span>
      </div>
      <div class="popover-content">
        <strong>Software Engineer Internship</strong>
        <ul>
          <li>Develop software deployment automation tool</li>
          <li>Develop iPad application for HMI's</li>
          <li>Develop cross platform CIP (Common Industry Protocol) Driver</li>
          <li>Develop web based reporting solution in ASP.NET using SQL Server Reporting Services</li>
          <li>I/O testing and software upgrades to conveyor systems</li>
        </ul>
      </div>
    </div>
  </li>

  <li class="experience">
    <div class="timeline-badge">
      <span class="glyphicon glyphicon-briefcase"></span>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <strong>Mintrus, LLC</strong> <span class="label label-success">Jan 2010 - Present</span>
      </div>
      <div class="popover-content">
        <strong>Co-Founder/Developer</strong>
        <ul>
          <li>Develop websites using HTML, CSS, JavaScript, and Ruby on Rails</li>
          <li>Develop an internal website for managing employees, data, and handling task management</li>
        </ul>
      </div>
    </div>
  </li>

  <li class="experience">
    <div class="timeline-badge">
      <span class="glyphicon glyphicon-briefcase"></span>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <strong><a href="http://www.appriss.com/" target="_blank">Appriss</a></strong> <span class="label">Jan 2010 - May 2011</span>
      </div>
      <div class="popover-content">
        <strong>Core Tools Team Internship</strong>
        <ul>
          <li>Work on internal applications using Ruby on Rails, HTML, CSS, and JavaScript</li>
          <li>Perform bug fixes and minor updates to web applications</li>
          <li>Worked in small team on main project porting a web application from Java to Ruby on Rails</li>
          <li>Built web based spreadsheet application from scratch</li>
        </ul>
      </div>
    </div>
  </li>

  <li class="education">
    <div class="timeline-badge">
      <span class="glyphicon glyphicon-book"></span>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <strong><a href="http://louisville.edu/" target="_blank">University of Louisville</a></strong> <span class="label">Aug 2008 - May 2013</span>
      </div>
      <div class="popover-content">
        <strong>BS, Computer Engineering and Computer Science</strong>
        <ul>
          <li><a href="http://www.ieee.org/" target="_blank">IEEE</a> member</li>
          <li>Intramural ultimate frisbee</li>
        </ul>
      </div>
    </div>
  </li>

  <li class="experience">
    <div class="timeline-badge">
      <span class="glyphicon glyphicon-briefcase"></span>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <strong><a href="http://www.walmart.com/" target="_blank">Walmart</a></strong> <span class="label">Jun 2007 - Sep 2009</span>
      </div>
      <div class="popover-content">
        <strong>Cashier/Customer Service/Photo Technician</strong>
        <ul>
          <li>Worked with a team to maintain store and assisted in training new employees</li>
          <li>Utilized communication skills to assist customers</li>
          <li>Handled cash and maintained accuracy</li>
          <li>Took initiative to keep maintained work area to promote efficiency</li>
        </ul>
      </div>
    </div>
  </li>

  <li class="education">
    <div class="timeline-badge">
      <span class="glyphicon glyphicon-book"></span>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <strong><a href="http://www.jefferson.k12.ky.us/schools/high/Jeffersontown/Index.html" target="_blank">Jeffersontown High School</a></strong> <span class="label">Aug 2004 - May 2008</span>
      </div>
      <div class="popover-content">
        <strong>High School Diploma</strong>
        <ul>
          <li>AP program</li>
          <li><a href="https://www.pltw.org/" target="_blank">Project Lead The Way</a> (Pre-Engineering program)</li>
          <li>Marine JROTC</li>
          <li>Tennis Team</li>
        </ul>
      </div>
    </div>
  </li>

  <li class="experience">
    <div class="timeline-badge">
      <span class="glyphicon glyphicon-briefcase"></span>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <strong><a href="http://controltouch.com/" target="_blank">ControlTouch Systems, Inc.</a></strong> <span class="label">Aug 2003 - Oct 2010</span>
      </div>
      <div class="popover-content">
        <strong>Temporary/Seasonal</strong>
        <ul>
          <li>Entered data from PLC AutoCAD drawings into Excel spreadsheets</li>
          <li>Designed web page and setup web hosting account</li>
          <li>PLC Specification Testing (Toggle bits to verify code meets spec)</li>
        </ul>
      </div>
    </div>
  </li>

  <li class="location">
    <div class="timeline-badge">
      <span class="glyphicon glyphicon-home"></span>
    </div>
    <div class="panel panel-warning">
      <div class="panel-heading">
        <strong>Born</strong> <span class="label">Jan 1990</span>
      </div>
      <div class="popover-content">
        <strong>Louisville, Kentucky</strong>
      </div>
    </div>
  </li>

</ol>
